<fieldset>
  <div class="nested-fields input-group my-2">
    <span class="input-group-text">Cepa</span>
    <%= f.collection_select(:variety_id, Variety.available_v.order(:name), :id, :name, {prompt: 'Selecciona una cepa'}, {class: 'form-select form-select-sm'}) %>
    <%= f.number_field :percentage, class: 'form-control form-control-sm', placeholder: 'Porcentaje' %>
    <span class="input-group-text">%</span>
    <%= link_to_remove_association button_tag("Eliminar cepa", type: "button", class: "btn btn-danger"), f %>
  </div>
</fieldset>
